.uncompleted-outer-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#EBECF1;
    position: relative;
  }
  
  .uncompleted-inner-circle,
  .uncompleted-second-inner-circle,
  .uncompleted-third-inner-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the circle exactly */
  }
  
  .uncompleted-inner-circle {
    background-color: #EBECF1;
  }
  
  .uncompleted-second-inner-circle {
    background-color: white;
    width: 15px; /* Adjust the size as needed */
    height: 15px; /* Adjust the size as needed */
  }
  
  .uncompleted-third-inner-circle {
    background-color:#CFD4D7; /* Add color for the third inner circle */
    width: 8px; /* Adjust the size as needed */
    height: 8px; /* Adjust the size as needed */
  }